header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    width: 100px;
    height: 100%;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 20px;
}
